
.book-list{
    list-style: none;
    padding: 15px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    /* margin-top: 0; */
    margin: 15px;
}

.book-list li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--clr1bg-light);
    padding: 0.3rem;
    border-radius: 7px;
}


.book-list a{
    text-decoration: none;
    color: var(--clr1);
}

.book-list a.active{
    color: var(--gray1);
    text-decoration: underline;

}