
.long-txt{
    gap: 5px;
}

.long-txt button{
    justify-self: end;
    background-color: transparent;
    margin: 0;
}

.long-txt button:hover{
    text-decoration: underline;
    background-color: transparent;
    color: black;
}