
.about-us{
    font-family: 'Edu VIC WA NT Beginner', cursive;
        margin-left: 1rem;

}

.about-us nav {
    display: flex;
    gap: 30px;
    font-size: 1rem;
    margin-top: 20px;
}


.about-goal{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-team{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-goal h1{
    text-decoration: underline;
}
.about-team h1{
    text-decoration: underline;
}