
.book-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-block-start: 20px; */
    margin: 20px auto;
    border-radius: 15px;
    background: var(--clr1bg-light);
    padding: 20px;
    width: 80vw;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    gap: 10px;
}

.book-details h1{
    font-size: 1.5rem ;
}

.book-details h2{
    font-size: 1.2rem;
}

.book-details img{
    display: block;
    margin: 0 auto;
}


.book-details button{
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0 .5em;
	font-family: 'Edu VIC WA NT Beginner', cursive;
} */

.reading-level{
    color: var(--clr1);
    font-weight: bold;
}

.is-new{
    color: var(--clr1);
}

.price-hight{
    color: red;
}

.price-low{
    color: green;
}

.book-details section {
    display: flex;
    justify-content: center;
    gap: 1rem;
}



.book-details section button a {
    color: var(--gray3);
    text-decoration: none;
}

.img-container {
    position: relative;
    display: inline-block;
}

.on-sale {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Edu VIC WA NT Beginner', cursive;

}

.add-review-link :hover{
    text-decoration: underline;

}

.reviews{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    
}