
.book-index{
    flex-wrap: wrap;
    align-items: start;
    font-family: 'Edu VIC WA NT Beginner', cursive;

}

.add-book-section {
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.add-book-section a:hover,
.dashboard-nav a:hover{
    text-decoration: underline;
    color: var(--clr1);
    transition: color 0.3s;
}
.dashboard-nav{
    display: flex;
    justify-content: center;
}



