/* Setup */
@import "setup/typography.css";
@import "setup/vars.css";

/* base */
@import "base/forms.css";
@import "base/helpers.css";
@import "base/base.css";
@import "base/layout.css";




/* Components */
@import "cmps/not-found.css";
@import "cmps/app-header.css";
@import "cmps/book-preview.css";
@import "cmps/book-list.css";
@import "cmps/book-filter.css";
@import "cmps/user-msg.css";
@import "cmps/add-review.css";
@import "cmps/long-txt.css";
@import "cmps/review-list.css";
@import "cmps/google-book-add.css";


/* Pages */
@import "pages/home-page.css";
@import "pages/about-us.css";
@import "pages/book-details.css";
@import "pages/book-index.css";
@import "pages/book-edit.css";



/* Base */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/* color: var(--gray3); */
}

 h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0 .5em;
	font-family: 'Edu VIC WA NT Beginner', cursive;
}

/*p {
	margin: 0 0 1em;
}

a {
	text-decoration: none;
	color: unset;
	cursor: pointer;
} */



/* Dont stretch my Media */
img,
embed,
video,
object {
	max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
	outline: 1px solid gold
}


/* .about nav a {
	margin-right: 10px;
} */

button {
	cursor: pointer;
	margin: 0.5em;
	border: 0;
	padding: 0.5em 0.8em;
	border-radius: 4px;
	font-family: 'Edu VIC WA NT Beginner', cursive;

}

/* button:hover {
	background-color: var(--clr2);
	color: white;
	transition: 0.3s;
}

input:focus {
	background-color: var(--clr1bg);
	transition: background-color 1s;
} */


/* Helpers */

/* flex helpers */

/* .flex {
	display: flex;
}

.flex.flex-column {
	flex-direction: column;
}

.flex.justify-center {
	justify-content: center;
}

.flex.justify-between {
	justify-content: space-between;
}

.flex.align-center {
	align-items: center;
} */

/* text helpers */

/* .colored-text {
	color: var(--clr1);
} */

/* list helpers */

/* .clean-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
} */

/* font awsome */

/* .fa {
	font-family: fa;
}

.fa.fa-facebook::before {
	content: "\f39e";
}

.fa.fa-twitter::before {
	content: "\f099";
}

.fa.fa-dribbble::before {
	content: "\f17d";
}

.fa.fa-behance::before {
	content: "\f1b4";
} */

/* Layout */
/* .main-layout {
	display: grid;
	grid-template-columns: 1.6rem 1fr 1.6rem;
}

.main-layout>* {
	grid-column: 2;
}

.main-layout .full {
	grid-column: 1/-1;
}

.container {
	max-width: 800px;
	padding: 1em;
	margin: auto;
} */



/* Components */

/* .home {
	font-size: 1em;
} */

/* .app-header {
	background-color: var(--clr1);
	color: var(--clr2bg-light);

} */

/* .header-container {
	display: flex;
	align-items: center;

}

.header-container h1 {
	flex-grow: 1;
} */


/* a.active {
	color: rgb(241, 212, 241);
	font-weight: 600;
	text-decoration: underline;
} */


@media (max-width: 720px) {
	.app-header {
		/* color: var(--clr2bg-light); */
	}
}
