/* Setup */
@import "setup/typography.css";
@import "setup/vars.css";

/* base */
@import "base/forms.css";
@import "base/helpers.css";
@import "base/base.css";
@import "base/layout.css";




/* Components */
@import "cmps/not-found.css";
@import "cmps/app-header.css";
@import "cmps/book-preview.css";
@import "cmps/book-list.css";
@import "cmps/book-filter.css";
@import "cmps/user-msg.css";
@import "cmps/add-review.css";
@import "cmps/long-txt.css";
@import "cmps/review-list.css";
@import "cmps/google-book-add.css";


/* Pages */
@import "pages/home-page.css";
@import "pages/about-us.css";
@import "pages/book-details.css";
@import "pages/book-index.css";
@import "pages/book-edit.css";



/* Base */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/* color: var(--gray3); */
}

 h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0 .5em;
	font-family: 'Edu VIC WA NT Beginner', cursive;
}

/*p {
	margin: 0 0 1em;
}

a {
	text-decoration: none;
	color: unset;
	cursor: pointer;
} */



/* Dont stretch my Media */
img,
embed,
video,
object {
	max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
	outline: 1px solid gold
}


/* .about nav a {
	margin-right: 10px;
} */

button {
	cursor: pointer;
	margin: 0.5em;
	border: 0;
	padding: 0.5em 0.8em;
	border-radius: 4px;
	font-family: 'Edu VIC WA NT Beginner', cursive;

}

.loading{
	font-family: 'Edu VIC WA NT Beginner', cursive;
	margin: 15px 20px;

}

@media (max-width: 720px) {
	.app-header {
		/* color: var(--clr2bg-light); */
	}
}
